.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 15px;
  background-image: url("../../img/pattern-leaves-turquoise.jpg");
  background-color: var(--acnh-blue);
}

#logo {
  height: 80px;
  margin: 10px;
  margin-left: 30px;
}

.heading-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  background-color: var(--nav-color);
  padding: 10px;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.subnav-content {
  display: none;
  margin-top: 13px;
  position: absolute;
  background-color: var(--nav-color);
  overflow: hidden;
}

.subnav:hover .subnav-content {
  display: flex;
}

.navbar a:hover,
.subnav:hover .subnavbtn,
.subnav-content a:hover {
  background-color: var(--acnh-neutral);
}

.nav-link {
  padding: 12px;
  text-decoration: none;
  color: #000;
  margin: 0;
}

form {
  display: flex;
  margin-right: 20px;
  margin-left: 10px;
  border: 1px solid gray;
  background-color: #fff;
}

#search-input {
  border: none;
  padding: 4px;
  flex-grow: 1;
}

#search-button {
  border: none;
}
