.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Sarabun:wght@200&display=swap");

:root {
  --acnh-blue: #6dbdb6;
  --acnh-neutral: rgba(222, 239, 227, 1);
  --acnh-neutral-tint: rgba(219, 238, 231, 1);
  --nav-color: rgba(222, 239, 227, 0.5);
  --title-color: rgba(107, 190, 182, 0.1);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("./img/pattern-leaves-white.jpg");
  background-repeat: repeat;
  background-color: var(--acnh-neutral);
  font-family: "Sarabun", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#body-container {
  flex: 1 0 auto;
}
